.headerTop {
  position: relative;
  z-index: 10;
  background: #2B3D45;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.15);
}

.header {
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.20);
  position: sticky;
  z-index: 100;
  top: 0;
  height: 72px;
  background: #FFFFFF;
  display: flex;
  align-items: center;
}

.nanItemContainer {
  width: calc(100% - (116px + 48px));
  height: 72px;
  display: flex;
  justify-content: space-between;
}

.nanItemContainer .list {
  position: relative;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.72px;
}

.nanItemContainer .list span {
  color: var(--secondary-1);
  opacity: 0.5;
  transition: all 0.2s ease-in-out;
}

.nanItemContainer .list:hover span {
  opacity: 1;
}

.nanItemContainer .list.active span {
  opacity: 1;
}

.nanItemContainer .list:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: var(--secondary-1);
  display: block;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}

.nanItemContainer li:hover:after {
  opacity: 1;
}

.nanItemContainer li.active:after {
  opacity: 1;
}

/***** dropdown *****/
.dropdown {
  padding: 28px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.20);
  border-radius: 0 0 8px 8px;
}

.subList {
  display: flex;
  flex-direction: column;
}

.subList h2 a {
  width: fit-content;
  transition: all 0.3s ease-in-out;
  padding: 10px 15px;
  border-radius: 4px;
  font-size: 18px;
  font-weight: 500;
  line-height: normal;
}


.subList h2:hover svg {
  transform: rotate(-90deg);
  transition: all 0.3s ease-in-out;
}

.subList h2:hover svg g path {
  fill: var(--primary);
}

.subList h2.active a {
  background: rgba(91, 188, 46, 0.50);
}

.subList h2.active svg {
  transform: rotate(-90deg);
}

.subList h2.active svg g path {
  fill: var(--primary);
}

.subList:nth-child(1) h2,
.subList:nth-child(1) .subSubList ul a:hover span {
  background: var(--LG-1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.subList:nth-child(2) h2,
.subList:nth-child(2) .subSubList ul a:hover span {
  background: var(--LG-2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.subList:nth-child(3) h2,
.subList:nth-child(3) .subSubList ul a:hover span {
  background: var(--LG-3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}